<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392485463518-iba2tse257b6vl6ggci16tm497s882ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392485463518-iba2tse257b6vl6ggci16tm497s882ri</string>
	<key>API_KEY</key>
	<string>AIzaSyDSqyTZehiEVrTeaTKqBl68m40MIGRZh04</string>
	<key>GCM_SENDER_ID</key>
	<string>392485463518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dicoding</string>
	<key>PROJECT_ID</key>
	<string>agenda-app-1aeb9</string>
	<key>STORAGE_BUCKET</key>
	<string>agenda-app-1aeb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392485463518:ios:695faca8a95cf435b3694f</string>
</dict>
</plist>